# .gitignore contains files and
# folders that should be excluded
# from version control

# ignore vendor directory
vendor/

# ignore tmp directory
tmp/

# ignore composer.lock
composer.lock

# ignore (deleted) scratch.txt (scratch code for pasting)
scratch.txt