<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<body>
<div class="container-fluid">
    <br>
    <h6>MarksGamingCompany LLC</h6>
    <h3>Software Development Internship</h3>
    <p>Seattle, Washington, Unpaid, 12 months</p>

    <div class="container-fluid">
        <div class="content-experience">
            <div class="experience-title">
                <h1>Experience</h1>
            </div>
            <hr>

            <div class="column">
                <div class="form-group">
                    <label for="biography" class="col-sm-6 control-label"><strong>Biography</strong></label>

                    <div class="col-sm-6">
                        <input class="form-control" placeholder="Lorem Ipsum text here..."
                               type="text" name="bio" id="biography" value="">
                    </div>
                    <!--<form action="/action_page.php">
                        <p><label for="biography"><strong>Biography</strong></label></p>
                        <textarea id="biography" name="bio" rows="8" cols="50">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Dolor magna eget est lorem ipsum dolor sit amet consectetur. Ut venenatis tellus
                                in metus vulputate eu scelerisque. Auctor augue mauris augue neque gravida in. Elit
                                pellentesque habitant morbi tristique. Vulputate dignissim suspendisse in est ante in
                                nibh. Orci dapibus ultrices in iaculis nunc sed augue lacus. Feugiat scelerisque varius
                                morbi enim nunc faucibus a. Bibendum est ultricies integer quis. Ut eu sem integer
                                vitae justo eget magna fermentum iaculis. Interdum posuere lorem ipsum dolor sit amet
                                consectetur. Elementum integer enim neque volutpat ac. Aliquam id diam maecenas ultricies
                                mi. Ac tortor dignissim convallis aenean.</textarea>
                    </form>-->
                </div>
            </div>

            <div class="column">
                <div class="form-group">
                    <label for="github-link" class="col-sm-6 control-label"><strong>Github Link</strong></label>

                    <div class="col-sm-6">
                        <input class="form-control" placeholder="github.com/my_github"
                               type="text" name="github" id="github-link" value="">
                    </div>
                </div>

                <div class="form-group">
                    <p><strong>Years Experience</strong></p>
                    <input type="radio" id="0-2" name="years-exp" value="0-2">
                    <label for="0-2">0-2</label>
                    <input type="radio" id="2-4" name="years-exp" value="2-4">
                    <label for="2-4">2-4</label>
                    <input type="radio" id="4+" name="years-exp" value="4+">
                    <label for="4+">4+</label>
                </div>

                <div class="form-group">
                    <p><strong>Willing To Relocate</strong></p>
                    <input type="radio" id="yes" name="relocate" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="relocate" value="no">
                    <label for="no">No</label>
                    <input type="radio" id="maybe" name="relocate" value="maybe">
                    <label for="maybe">Maybe</label>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>