<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<body>
<div class="container-fluid">
    <br>
    <h6>MarksGamingCompany LLC</h6>
    <h3>Software Development Internship</h3>
    <p>Seattle, Washington, Unpaid, 12 months</p>

    <form action="#" method="post" class="">

        <div class="row" id="title-row">
            <div class="col-12">
                <div class="personal-info-title">
                    <h1>Experience</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row" id="jobs-top-row">
            <div class="col-12">
                <p><strong>Software Development Jobs</strong></p>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job1" name="job1" value="Job">
                <label for="job1">JavaScript</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job2" name="job2" value="Job">
                <label for="job2">PHP</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job3" name="job3" value="Job">
                <label for="job3">Java</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job4" name="job4" value="Job">
                <label for="job4">Python</label>
            </div>
        </div>

        <div class="row" id="jobs-bottom-row">
            <div class="col-3">
                <input type="checkbox" id="job5" name="job5" value="Job">
                <label for="job5">HTML</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job6" name="job6" value="Job">
                <label for="job6">CSS</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job7" name="job7" value="Job">
                <label for="job7">ReactJS</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="job8" name="job8" value="Job">
                <label for="job8">NodeJs</label>
            </div>
        </div>

        <div class="row" id="industry-verticals-top-row">
            <div class="col-12">
                <p><strong>Industry Verticals</strong></p>
            </div>

            <div class="col-3">
                <input type="checkbox" id="vert1" name="vert1" value="Verticals">
                <label for="vert1">SaaS</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="vert2" name="vert2" value="Verticals">
                <label for="vert2">Health tech</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="vert3" name="vert3" value="Verticals">
                <label for="vert3">Ag tech</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="vert4" name="vert4" value="Verticals">
                <label for="vert4">HR tech</label>
            </div>
        </div>

        <div class="row" id="industry-verticals-bottom-row">
            <div class="col-3">
                <input type="checkbox" id="vert5" name="vert5" value="Verticals">
                <label for="vert5">Industrial tech</label>
            </div>

            <div class="col-3">
                <input type="checkbox" id="vert6" name="vert6" value="Verticals">
                <label for="vert6">Cybersecurity</label>
            </div>
        </div>

        <div class="row" id="bottom-button-row">
            <div class="next-button">
                <a href="summary" role="button"
                   class="btn btn-primary" id="next-button">Next ></a>
            </div>
        </div>

    </form>


</div>
</body>
</html>