<include href="views/includes/header.html"></include>
<include href="views/includes/topnav.html"></include>

<body>
<div class="container-fluid">
    <br>
    <h6>MarksGamingCompany LLC</h6>
    <h3>Software Development Internship</h3>
    <p>Seattle, Washington, Unpaid, 12 months</p>

    <form action="#" method="post" class="">

        <div class="row" id="title-row">

            <div class="col-12">
                <div class="personal-info-title">
                    <h1>Personal Information</h1>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row" id="whole-body">

            <div class="col-8">
                <div class="form-group">
                    <div class="row" id="name-fields">
                        <div class="col-6">
                            <label for="first-name" class="col-6 control-label"><strong>First Name</strong></label>

                            <input class="form-control" placeholder="Sarah" type="text" name="fname" id="first-name"
                                   value="">
                        </div>

                        <div class="col-6">
                            <label for="last-name" class="col-6 control-label"><strong>Last Name</strong></label>

                            <input class="form-control" placeholder="Smith" type="text" name="lname" id="last-name"
                                   value="">
                        </div>
                    </div>

                    <div class="row" id="email-fields">
                        <div class="col-12">
                            <label for="email" class="col-12 control-label"><strong>Email</strong></label>

                            <input class="form-control" placeholder="my_email@gmail.com" type="text" name="email"
                                   id="email" value="">
                        </div>
                    </div>

                    <div class="row" id="state-phone-fields">

                        <div class="col-6">
                            <label for="state" class="col-6 control-label"><strong>State</strong></label>

                            <input class="form-control" placeholder="Washington" type="text" name="state"
                                   id="state" value="">
                        </div>

                        <div class="col-6">
                            <label for="phone" class="col-6 control-label"><strong>Phone</strong></label>


                            <input class="form-control" placeholder="222-333-4444" type="text" name="phone-number"
                                   id="phone" value="">

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4">

                <div class="row1-privacy-note">
                    <div class="col-12 border">
                        <p><strong>Note:</strong> All information entered is protected by<br>
                            our <strong>privacy policy.</strong> Profile information can<br>
                            only be viewed by others with your permission.</p>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="next-button">
                    <button class="btn btn-primary w-100" type="submit"> Next ></button>
                </div>

            </div>
        </div>
    </form>
</div>


</div>
</body>
</html>