h1
{
    text-align: center;
}

.btn-primary
{
    background-color: lightgreen;
}

.column
{
    float: left;
    width: 50%;
}
.row
{
    background-color: whitesmoke;
}

/* Clear floats after the columns */
.row:after
{
    content: "";
    display: table;
    clear: both;
}

img
{
    display: block;
    margin-left: auto;
    border-radius: 5%;
}

div.quotes
{
    padding-left: 2rem;
    padding-right: 2rem;
}
